<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>go</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="main">
      <div class="t">
        <input class="btnArea__btn" type="button" value="소개" />
        <input class="btnArea__btn" type="button" value="질문" />
        <input class="btnArea__btn" type="button" value="공지" />
        <input
          class="btnArea__btn"
          type="button"
          value="로그인"
          onclick="main-4"
        />
      </div>

      <div class="tts">
        <input class="col1" type="button" value="수학교실1" />
        <input class="col1" type="button" value="수학교실2" />
        <input class="col1" type="button" value="영어교실" />
      </div>
    </div>

    <div></div>
  </body>
</html>
